* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(../images/troca-caixa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 20px;
    min-height: 80vh;
}

body {
    line-height: 1.6;
    color: #333;
    background: #f8ffdf;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgb(193, 231, 143);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

nav .menu li a {
    color: rgb(237, 255, 214);
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
    background-color: #6d9755;
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 150px;
    transition: 0.3s;
    margin-top: 10px;
}

nav .menu li a:hover {
    background-color: #eeffe0;
    color: rgb(3, 3, 3);
    transform: scale(1.05);
}

#hamburger {
    display: none;
}

.show {
    display: block !important;

    .menu {
        display: block !important;
    }
}

header nav button {
    background: none;
    border: none;
    cursor: pointer;
    color: #314123;
    font-size: 1.5rem;
    font-weight: 900;
}

.logo {
    width: 100px;
    height: auto;
}

.logo:hover {
    transform: scale(1.05);
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #548802;
    color: white;
    padding: 35px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 999;
    padding-top: 80px;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 10px 0;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #093000;
    font-size: 18px;
    font-weight: 530;
    transition: color 0.2s ease;
}

.sidebar ul li a:hover {
    color: #ffffff;
}

footer {
    background: rgb(193, 231, 143);
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 70px;
    text-align: center;
}

footer p {
    margin-bottom: 30px;
    font-weight: 600;
}

footer .social a {
    background-color: rgb(237, 255, 187);
    padding: 10px;
    border-radius: 10px;
    color: #417a00;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

footer .social a:hover {
    background-color: #609c00;
    color: white;
}




/* =========================================================
   RESPONSIVIDADE — BREAKPOINTS
   ========================================================= */

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

    .menu {
        display: none;
        width: 100%;
        gap: 10px;
        padding-top: 10px;
    }

    nav .menu li a {
        width: 100%;
        text-align: left;
        padding: 10px 15px;
    }
}

/* Small devices (tablets, 600px and up) */
@media (max-width: 767px) {

    aside {
        display: block;
    }

    .container-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .logo img {
        height: 40px;
    }

    .sidebar {
        width: 220px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 1545px) {


    #hamburger {
        display: block;
    }

    aside {
        display: block;
    }

    .menu {
        display: none;
        width: 100%;
        gap: 10px;
        padding-top: 10px;
    }

    nav .menu li a {
        width: 100%;
        text-align: left;
        padding: 10px 15px;
    }

    nav {
        padding: 15px 60px;
    }

    .container-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }
}